{% extends "base.html" %} {% block title %}Pieslēgšanās{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center">Pieslēgšana</h3>
    <div class="form-group">
        <label for="email">E-Pasta adrese</label>
        <input 
        type="email" 
        class="form-control" 
        id="email" 
        name="email" 
        placeholder="Ievadiet savu e-pasta adresi"
        />
    </div>
    
    <div class="form-group">
        <label for="password1">Parole</label>
        <input 
        type="password" 
        class="form-control" 
        id="password1" 
        name="password1" 
        placeholder="Ievadiet paroli"
        />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Pieslēgties</button>
</form>
{% endblock %}